<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="daltonhamfest" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="http://www.w4drc.com/hamfest" appendQueryString="false" redirectType="Permanent" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="daltonhamfest\.com" />
                        <add input="{HTTP_HOST}" pattern="www\.daltonhamfest\.com" />
                        <add input="{HTTP_HOST}" pattern="daltonhamfest\.net" />
                        <add input="{HTTP_HOST}" pattern="www\.daltonhamfest\.net" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>