<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="daltonhamfest" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(www|)\.?daltonhamfest\.(com|net)$" />
                    </conditions>
                    <action type="Redirect" url="http://www.w4drc.com/hamfest/{R:0}" appendQueryString="false" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>